<div class="p-0 flex-column sidebar">
    <a href="#" class="d-flex align-items-center pt-3 my-3 mb-md-0 me-md-auto text-decoration-none">
      <h1 class="h3 brand pl-4">Zachary Cardoza</h1>
    </a>
    <p class="subhead pl-4">Junior Developer</p>
    <div class="border-top pt-1">
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#about" class="nav-link about">
            <i class="fa-solid fa-user fa-lg"></i>
            About
          </a>
        </li>
        <li>
          <a href="#work" class="nav-link work">
            <i class="fa-solid fa-arrow-trend-up fa-lg"></i>
            Experience
          </a>
        </li>
        <li>
          <a href="#projects" class="nav-link projects">
            <i class="fa-solid fa-table fa-lg"></i>
            Projects
          </a>
        </li>
        <li>
          <a href="#education" class="nav-link education">
            <i class="fa-solid fa-graduation-cap fa-lg"></i>
            Education
          </a>
        </li>
        <li>
          <a href="#contact" class="nav-link contact">
            <i class="fa-solid fa-envelope fa-lg"></i>
            Contact
          </a>
        </li>
        <li>
          <a href="/Zachary_Cardoza-Resume.pdf" target="_blank" class="nav-link resume">
            <i class="fa-solid fa-file fa-lg"></i>  
            Resume
          </a>
        </li>
      </ul>
    </div>
  </div>