<div>
    <h1 class="section-header p-3">Contact</h1>
    <div class="container">
        <p class="p-4">
            <a class="btn btn-secondary contact-icon" href="mailto:zachary@cardoza.ca"><i class="fa-solid fa-envelope fa-lg"></i></a>
            <a class="contact-link" href="mailto:zachary@cardoza.ca">zachary@cardoza.ca</a>
        </p>
        <p class="p-4">
            <a class="btn btn-secondary contact-icon" href="https://github.com/zacherycardoza" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
            <a class="contact-link" href="https://github.com/zacherycardoza" target="_blank">github.com/zacherycardoza</a>
        </p>
        <p class="p-4">
            <a class="btn btn-secondary contact-icon" href="https://www.linkedin.com/in/zachcardoza/" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            <a class="contact-link" href="https://www.linkedin.com/in/zachcardoza/" target="_blank">linkedin.com/in/zachcardoza</a>
        </p>
    </div>
</div>