<div>
    <h1 class="section-header p-3">Education</h1>
    <div class="container">
        <div class="row my-5 mx-3">
            <div class="mb-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Centennial College</h3>
                        <h6 class="card-subtitle">Toronto, ON</h6>
                        <ul class="card-text m-0">
                            <li>
                                Advanced Diploma in Game Programming
                            </li>
                        </ul>
                    </div>
                    <div class="p-3 dateAndLocation">
                        <span>Graduating January 2024</span>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Carleton University</h3>
                        <h6 class="card-subtitle">Ottawa, ON</h6>
                        <ul class="card-text m-0">
                            <li>
                                Bachelor of Arts in Psychology
                            </li>
                        </ul>
                    </div>
                    <div class="p-3 dateAndLocation">
                        <span>Graduated June 2019</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>