<div>
    <h1 class="section-header p-3">Projects</h1>
    <div class="container">
        <div class="row my-5 mx-3">
            <div class="my-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card project-card micrypto-project-card">
                    <img class="card-img-top px-2 pt-2" src="img/hacker128.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <p class="card-title h5 m-0 align-self-center">Micrypto</p>
                            <button type="button" class="btn btn-md project-btn p-0" value="micrypto"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></button>
                        </div>
                        <p>MiCrypto is a chrome extension designed to allow users to track the values of cryptocurrencies. Users may enter an amount of a given cryptocurreny they wish to track and the extension dynamically totals these amounts. MiCrypto makes use of JavaScript, CSS, and HTML, as well as multiple APIs to source currency data.</p>
                    </div>
                </div>
                <div class="card card-back micrypto-card-back" style="display: none">
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <p class="card-title h5 m-0 align-self-center">Accomplishments</p>
                            <button type="button" class="btn btn-md project-btn-back p-0" value="micrypto"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></button>
                        </div>
                        <ul>
                            <li>JS / JQuery</li>
                            <li>CoinGecko Cryptocurrency API</li>
                            <li>Chrome Extension Development</li>
                            <li>Browser Storage API</li>
                        </ul>
                        <div class="project-links mt-auto d-flex justify-content-center">
                            <a class="btn btn-secondary contact-icon mr-2" href="https://chrome.google.com/webstore/detail/micrypto/ngppjacebelkipmaingmpegkmphaephe" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                            <a class="btn btn-secondary contact-icon ml-2" href="https://github.com/zacherycardoza/MiCrypto-Chrome-Extension" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card project-card quicklaunch-project-card">
                    <img class="card-img-top px-2 pt-2" src="img/rocket128.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <p class="card-title h5 m-0 align-self-center">Quick Launch</p>
                            <button type="button" class="btn btn-md project-btn p-0" value="quicklaunch"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></button>
                        </div>
                        <p>Open Your Favourite Tabs With A Single Click. Quick-Launch is a utility chrome extension that allows you to streamline your browsing startup process. Set multiple pages to open with one click of the extension's icon button.</p>
                    </div>
                </div>
                <div class="card card-back quicklaunch-card-back" style="display: none">
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <p class="card-title h5 m-0 align-self-center">Accomplishments</p>
                            <button type="button" class="btn btn-md project-btn-back p-0" value="quicklaunch"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></button>
                        </div>
                        <ul>
                            <li>Bootstrap CSS</li>
                            <li>JS / JQuery</li>
                            <li>Chrome Browser API</li>
                            <li>Chrome Webstore Processes</li>
                        </ul>
                        <div class="project-links mt-auto d-flex justify-content-center">
                            <a class="btn btn-secondary contact-icon mr-2" href="https://chrome.google.com/webstore/detail/quick-launch/danchmbbppbephkljlphnofdmlgenhba" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                            <a class="btn btn-secondary contact-icon ml-2" href="https://github.com/zacherycardoza" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card project-card geoweather-project-card">
                    <img class="card-img-top px-2 pt-2" src="img/geoweather.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <p class="card-title h5 m-0 align-self-center">Geoweather</p>
                            <button type="button" class="btn btn-md project-btn p-0" value="geoweather"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></button>
                        </div>
                        <p>Geo-Weather is a static webpage designed for my Client-Side Web-Development Course. Visitors to the page will see a Google Map of their current location. Visitors are also able to input a city and recieve real-time weather data. Geo-Weather uses JavaScript, CSS, and HTMl with GoogleMaps and OpenWeather APIs fetchs to retrieve weather data.</p>
                    </div>
                </div>
                <div class="card card-back geoweather-card-back" style="display: none">
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <p class="card-title h5 m-0 align-self-center">Accomplishments</p>
                            <button type="button" class="btn btn-md project-btn-back p-0" value="geoweather"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></button>
                        </div>
                        <ul>
                            <li>JS/HTML/CSS</li>
                            <li>GoogleMaps API</li>
                            <li>OpenWeather API</li>
                        </ul>
                        <div class="project-links mt-auto d-flex justify-content-center">
                            <a class="btn btn-secondary contact-icon mr-2" href="https://github.com/zacherycardoza" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                            <a class="btn btn-secondary contact-icon ml-2" href="https://github.com/zacherycardoza" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card project-card tournamenttracker-project-card">
                    <img class="card-img-top px-2 pt-2" src="img/tournamenttracker.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <p class="card-title h5 m-0 align-self-center">Tournament Tracker</p>
                            <button type="button" class="btn btn-md project-btn p-0" value="tournamenttracker"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></button>
                        </div>
                        <p>Tournament Manager is a Winforms Application designed with the C# language. Users may enter teams and players. With teams the user may create a tournament and the software will generate matchups.</p>
                    </div>
                </div>
                <div class="card card-back tournamenttracker-card-back" style="display: none">
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <p class="card-title h5 m-0 align-self-center">Accomplishments</p>
                            <button type="button" class="btn btn-md project-btn-back p-0" value="tournamenttracker"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></button>
                        </div>
                        <ul>
                            <li>Winforms Development</li>
                            <li>C#</li>
                        </ul>
                        <div class="project-links mt-auto d-flex justify-content-center">
                            <a class="btn btn-secondary contact-icon mr-2" href="https://github.com/zacherycardoza" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                            <a class="btn btn-secondary contact-icon ml-2" href="https://github.com/zacherycardoza" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>