<div>
    <h1 class="p-4 section-header">Experience</h1>
    <div class="container">
        <div class="card my-5 ">
            <div class="card-body p-3">
                <div class="row experienceHeader mb-3">
                    <div class="col-2 m2">
                    <a href="https://www.unityhealth.to/" target="_blank"
                        ><img
                        alt="Lightspeed logo"
                        src="/img/UHT.jpeg"
                        class="logo"
                    /></a>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <a
                            href="https://www.unityhealth.to/"
                            target="_blank"
                            class="h4 experienceTitle"
                            >St Michael's Hospital</a
                        >
                    </div>
                    <div class="role brown-text col-4 d-flex align-items-center justify-content-center">IT Admin Resident</div>
                </div>
                <p>
                    <em class="grey-text">Canada’s largest Catholic healthcare network serving patients, residents and clients across the full spectrum of care.</em>
                </p>
                <ul>
                    <li>Collaborated in the development and deployment of critical hospital web applications using the Laravel framework.</li>
                    <li>Met with application stakeholders regularly to gather requirements and feedback.</li>
                    <li>Conducted daily scrum meetings with teammates to ensure timelines were met.</li>
                </ul>
            </div>
            <div class="p-3 dateAndLocation">
            <span>Jan 2022 - Sept 2022 | Toronto, ON</span>
            </div>
        </div>
        <div class="card my-5 ">
            <div class="card-body p-3">
                <div class="row experienceHeader mb-3">
                    <div class="col-2 m2">
                    <a href="https://cardoza.ca/" target="_blank"
                        ><img
                        alt="Cardoza logo"
                        src="/img/cardoza.jpeg"
                        class="logo"
                    /></a>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <a
                            href="https://cardoza.ca/"
                            target="_blank"
                            class="h4 experienceTitle"
                            >Cardoza Designers & Builders Corporation</a
                        >
                    </div>
                    <div class="role brown-text col-4 d-flex align-items-center justify-content-center">Junior Web Developer</div>
                </div>
                <p>
                    <em class="grey-text">General contractor and store fixture company specializing in the hospitality & retail industries.</em>
                </p>
                <ul>
                    <li>Utilized skills in JavaScript and Object-Oriented Programming to develop high-impact web pages.</li>
                    <li>Created successful page designs and navigation frameworks that achieved usability requirements.</li>
                    <li>Reviewed information and elements regularly on websites and pages for accuracy and functionality.</li>
                    <li>Increased web traffic by improving navigation, creating dynamic media sections, and adding social media plugins.</li>
                </ul>
            </div>
            <div class="p-3 dateAndLocation">
            <span>May 2021 - Present | Richmond Hill, ON</span>
            </div>
        </div>
        <div class="card my-5 ">
            <div class="card-body p-3">
                <div class="row experienceHeader mb-3">
                    <div class="col-2 m2">
                    <a href="https://www.howlurr.ca/" target="_blank"
                        ><img
                        alt="Howlurr logo"
                        src="/img/howlurr.jpeg"
                        class="logo"
                    /></a>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <a
                            href="https://www.howlurr.ca/"
                            target="_blank"
                            class="h4 experienceTitle"
                            >Howlurr</a
                        >
                    </div>
                    <div class="role brown-text col-4 d-flex align-items-center justify-content-center">Junior QA Analyst</div>
                </div>
                <p>
                    <em class="grey-text">A centralized tool to track, store, and share vital information about your dog’s life journey.</em>
                </p>
                <ul>
                    <li>Communicated with developers to isolate root causes of defects.</li>
                    <li>Used standard testing methodologies to analyze business requirements and prepare test plans and test cases</li>
                    <li>Worked with Agile and Scrum methodologies to accomplish project milestones and meet demanding timelines.</li>
                    <li>Conducted extensive functional GUI level testing to write and modify tests.</li>
                </ul>
            </div>
            <div class="p-3 dateAndLocation">
            <span>Mar 2021 - May 2022 | Whitby, ON</span>
            </div>
        </div>
    </div>
</div>